<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALAMAN GAME</title>
    <link rel="stylesheet" href="../public/css/gamesuitcss.css"> 
</head>
<body>
    <!-- MENU AWAL DAN TOMBOL BACK -->
    <div class='menu'>
        <a href=""><div class="back"><img src="../public/images/Back.png"></div></a>
        <div><img src="../public/images/Logo.png"></div>
        <div><p>ROCK PAPER SCISSORS</p></div>
    </div>

    <!-- MAIN GAME -->
    <div class="grid-container">
        <div class="pemain">PLAYER1</div>
        <div class="pemain"></div>
        <div class="pemain">COM</div>
        <a href=""><div class="grid-item batu1"></div></a>
        <div class="grid-item"></div>
        <div class="grid-item batu"></div>
        <a href=""><div class="grid-item kertas1"></div></a>
        <div class="grid-item vs"></div>
        <div class="grid-item kertas"></div>
        <a href=""><div class="grid-item gunting1"></div></a>
        <div class="grid-item"></div>
        <div class="grid-item gunting"></div>
    </div>

    <!-- RESTART -->
    <a href=""><div class="restart"></div></a>
</body>

<script src="../public/js/gamesuitjs.js"></script>
</html>